.display {
  width: 100%;
  box-sizing: border-box;

  margin: 0 auto;

  font-size: 24px;

  @at-root #{&}__para {
    margin: 0.75em;
    text-align: center;
  }

  @at-root #{&}__info-container {
    @at-root #{&}--hidden {
      display: none;
    }
  }

  @at-root #{&}__info {
    font-weight: bold;
    color: $primary-color;
  }
}
