.form {
  max-width: 80%;
  min-height: 350px;

  margin: 20px auto auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;

  @at-root #{&}__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 97%;
    height: 64px;
    box-sizing: border-box;

    @at-root #{&}__number {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      margin-right: 20px;
      margin-left: 40px;
      border-radius: 50%;

      color: #fff;
      background-color: $tertiary-color;
      @at-root #{&}--active {
        background: $primary-color;
      }
    }

    @at-root #{&}__button {
      width: 100%;
      height: 100%;
      min-height: 64px;
      box-sizing: border-box;
      display: inline-block;

      text-align: left;
      @at-root #{&}:hover {
        background-color: rgba(0, 0, 0, 0.06);
        cursor: pointer;
      }
    }

    @at-root #{&}--open {
      height: 100%;
    }

    @at-root #{&}:first-child {
      margin: 30px 0 0 0;
    }

    // form html tags
    @at-root #{&}__element {
      margin: 0 0 15px 80px;
      width: 100%;
      max-width: 256px;
    }

    @at-root #{&}__input {
      width: 100%;
      font-size: 18px;
      border-bottom: 1px solid $details;
      cursor: pointer;
    }
  }
}

// react calendar custom styles

.react-calendar {
  border: none;
}
.react-calendar__tile--active {
  background: $secondary-color;
}
.react-calendar__tile--active:enabled:focus {
  background: $secondary-color;
}
.react-calendar__tile--active:enabled:hover {
  background-color: $secondary-color;
}
.react-calendar__month-view__days__day--weekend {
  color: #757575;
}

// time picker

.timepicker {
  display: flex;
  flex-flow: column nowrap;
  @at-root #{&}__dropdown {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 16px;
    @at-root #{&}__title {
      font-size: 14px;
      color: $details;
    }

    @at-root #{&}__select {
      border-bottom: 1px solid $details;
    }
  }

  @at-root #{&}__radio-group {
    display: flex;
    flex-flow: column nowrap;
  }

  @at-root #{&}__radio-container {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin: 10px 0 10px 0;
  }
  @at-root #{&}__radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  @at-root #{&}__custom-radio {
    margin-right: 5px;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    border: 2px solid $details;

    @at-root #{&}::after {
      content: '';
      position: absolute;
      top: 2.5px;
      left: 2.5px;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: $details;
    }

    @at-root #{&}--checked {
      border: 2px solid $primary-color;
      @at-root #{&}::after {
        background-color: $primary-color;
      }
    }
  }
}
