.modal {
  overflow: hidden;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.329);
  @at-root #{&}__content {
    position: relative;
    background-color: white;
    display: flex;
    top: 10%;
    width: 500px;
    margin: 0 auto;
    border-radius: 2px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px,
      rgba(0, 0, 0, 0.22) 0px 10px 18px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }

  @at-root #{&}__display {
    width: 150px;
    padding: 15px;
    background: $primary-color;
    color: #fff;
    @at-root #{&}__small {
      height: 16px;
      opacity: 0.7;
      margin-bottom: 20px;
    }

    @at-root #{&}__big {
      font-size: 32px;
    }
  }

  @at-root #{&}__info {
    height: 300px;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;

    @at-root #{&}__title {
      margin: 10px 0 30px 0;
    }
    @at-root #{&}__elements-container {
      flex-grow: 10;
      box-sizing: border-box;

      padding: 20px 20px 0 20px;
    }

    @at-root #{&}__element {
      margin: 20px 0;
    }

    @at-root #{&}__text {
      color: darken($details, 20%);
    }

    @at-root #{&}__dinamic-text {
      margin-left: 10px;
      color: $primary-color;
    }
  }

  @at-root #{&}__controls {
    display: flex;
    flex-flow: row nowrap;

    justify-content: flex-end;
    @at-root #{&}__button {
      box-sizing: border-box;
      color: $primary-color;
      cursor: pointer;
      width: 80px;
      padding: 10px;
      margin: 10px;
      border-radius: 5px;

      @at-root #{&}:hover {
        background: $tertiary-color;
      }
      @at-root #{&}:focus {
        background: $tertiary-color;
      }
    }
  }
}

.react-calendar__tile--active:enabled:focus {
  background: $secondary-color;
}
.react-calendar__tile--active:enabled:hover {
  background-color: $secondary-color;
}
