.page {
  margin-top: 40px;
  height: 300px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  @at-root #{&}__link {
    padding: 20px 40px;
    color: rgb(236, 235, 235);
    border-radius: 20px;
    background-color: $primary-color;
    box-shadow: 5px 3px 6px 0px rgba(0, 0, 0, 0.377);

    @at-root #{&}:focus {
      box-shadow: none;
    }
    @at-root #{&}:active {
      box-shadow: none;
    }
  }
}
