$primary-color: rgb(0, 188, 194);
$secondary-color: lighten($primary-color, 5%);
$tertiary-color: rgb(224, 224, 224);
$tertiary-color-light: lighten($tertiary-color, 40%);
$details: rgb(207, 207, 207);

$text-color: #ebebeb;
